.navbar {
  background-color: #55378d;
}

.nav-link:hover {
  border-bottom: 2px solid #202020;
}

.content {
  margin-top: 5%;
  margin-bottom: 8%;
}

.gambar {
  display: block;
  margin: auto;
  border-color: #a5f1e9;
}

.biodata {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

table th {
  padding-left: 3rem;
}

table td {
  padding-left: 3rem;
}
